
.navbar{
    min-height: 50px;
    max-height: 54px;
}

.navbar .navbar-brand{
    margin-left: 192px;
}

.navbar .container-fluid .collapse{
    margin-right: 192px;
}

.navbar .container-fluid .form{
    margin: 5px;
    min-width: 200px;
    display: flex;
    justify-content: center;
}

.navbar .form input{
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: #FAFAFA;
    min-width: 200px;

}

.navbar form ::placeholder{
    background-image: url(/assets/search-solid.svg) !important;
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: 40%;
    text-align: center;
    font-size: 14px;
    color: gray;
    padding-left: 3vh;
}


/* storybox */

.mainflow .story-box {
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
}

.mainflow .story-box .story-user{
    display: flex;
    flex-direction: column;
    width: 60px;
    height: auto;
}

.mainflow .story-box .story-user img{
    border-radius: 50%;
}

/* postbox */

.post-header-info{
    display: flex;
    justify-content: space-between;
    height: 50px;
}


.post-header-info .post-user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-header-info img{
    border-radius: 50%;
    width: 40px;
}

.card-footer .post-interaction{
    display: flex;
    flex-direction: column;
}

.card-footer .who-like-post{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-footer .who-like-post p{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.card-footer .who-like-post img{
    width: 30px;
    border-radius: 50%;
    
}

.card-footer .post-interaction .who-comment-post p{
    font-size: 14px;
}

/* Sidebar */

.user-sidebar{
    display: flex;
    flex-direction: row;
}

.user-sidebar img{
    width: 60px;
    border-radius: 50%;
}

.user-sidebar p{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.user-sidebar-suggest{
    display: flex;
    flex-direction: column;
}

.user-sidebar-suggest .suggets-user{
    display: flex;
    flex-direction: row;
}

.user-sidebar-suggest .suggets-user img{
    width: 35px;
    border-radius: 50%;
}

.user-sidebar-suggest .suggets-user p{
    display: flex;
    align-items: center;
}

.user-sidebar-suggest .suggets-user strong{
    padding-left: 15vh;
}
